@import "susy";
@import "compass/typography/vertical_rhythm";

// Susy grid
$susy: (
    container: 960px,
    columns: 4,
    gutters: 1/10,
    global-box-sizing: border-box
);

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 12px;
$rhythm-unit: 'em';
